.calculator_keys {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  background-color: #999;
  padding: 10px;
}

.key_equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

.key_operator {
  background-color: rgb(211, 146, 146);
}
